header{
    height: auto;
    width: 100%;
    font:bold 60px arial;
    background-color: aqua;
}
menu{
    background-color:lightgreen;
    width: 100%;
}
nav{
    background-color: lightblue;
    width: 10%;
    height:2200px;
    float: left;

}
content{
    background-color: peru;
    color: white;
    width: 89%;
    height: 2200px;
    float: right;
    
    
}
footer{
    background-color: brown;
    text-align: center;
    width: 100%;
    height: 110px;
    text-align: center;
    float: left;

}