body{
    background-image:url(/img/papel\ de\ parede.jpg);
    background-size: 100%;
}
h1{
    text-align: center;
     font-style: italic;
     background-color: white;
     color: black;
}
h2,h3{
    text-align:center ;
    color: blue;
    background-color: yellow;
}
p{
    color: white;
    font-weight: 9px;
    font-style: italic;
}
div{
    text-align: center;
}
button{
    background-color:green; 
    border-color:green; 
    color:white
}
label{
    cursor: default;
}